* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: #0f0f0f;
  font-size: 14px;
}

.caixa-textos {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #0f0f0f;
  font-weight: 700;
  font-size: 16px;
}

.img-thumb {
  width: 100%;
  border-radius: 12px;
}

.img-logo {
  width: 36px;
  border-radius: 50%;
}

.nome-canal {
  font-size: 14px;
  color: #606060;
  font-weight: 400;
}

.caixa-infos {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.caixa-videos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.caixa-video {
  width: 32%;
}

.caixa-textos a {
  color: #0f0f0f;
  text-decoration: none;
}

.canal {
  color: inherit;
  text-decoration: none;
}

.nome-canal a {
  color: #606060;
  text-decoration: none;
  display: block;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categorias {
  margin-top: 15px;
  display: flex;
  gap: 8px;
}

.categoria {
  border-radius: 7px;
  background-color: #0000000d;
  color: #0f0f0f;
  padding: 7px 12px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.categoria:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.categoria.selecionado {
  color: white;
  background-color: #0f0f0f;
}

.menu-lateral {
  min-width: 240px;
  width: 240px;
}

.principal {
  display: flex;
  gap: 30px;
}

.menu-bloco,
.menu-login {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 12px;
}

.menu-bloco:last-child {
  border-bottom: none;
}

.bloco-titulo {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 12px 4px;
}

.bloco-item {
  color: inherit;
  border-radius: 12px;
  display: flex;
  padding: 7.5px 15px;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease;
}

.bloco-item.selecionado {
  background-color: #0000000d;
  font-weight: 700;
}

.bloco-item:hover {
  background-color: #0000000d;
}

.menu-login {
  padding: 16px 32px;
}

.login-texto {
  margin-bottom: 15px;
}

.login-bloco {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  gap: 7px;
  width: max-content;
  padding: 4px 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  color: #065fd4;
  fill: #065fd4;
  transition: all 0.2s ease;
}

.login-bloco:hover {
  background-color: #def1ff;
  border-color: #def1ff;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.caixa-logo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icone-risco {
  height: 40px;
  width: 40px;
  padding: 8px;
  border-radius: 100%;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.icone-risco:hover {
  background-color: #0000000d;
}

.icone-logo {
  width: 90;
  height: 20px;
}

.pesquisa {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  font-size: 16px;
  padding: 0 4px 0 16px;
  margin: 0 0 0 32px;
  width: 640px;
  height: 40px;
}

.svg-micro {
  width: 40px;
  height: 40px;
  background-color: #0000000d;
  border-radius: 100%;
  padding: 6px;
  margin-left: 15px;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.svg-micro:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.caixa-pesquisa {
  display: flex;
  margin: 8px 0 20px 32px;
}

.caixa-login {
  gap: 15px;
  align-items: center;
  display: flex;
  margin-top: 10px;
  height: 40px;
}
